.Header{
    color: rgba(71, 82, 94, 1);
  font-family: Lato;
  font-size: 26px;
  line-height: 33px;
  text-align: left;
    width: 112px;
    
}
.Dialogs{
    display: grid;
    grid-template-columns: 22px 292px 72px 659px;
    grid-template-rows: 20px 112px 5px 677px;
    align-items: start;
}
.Contacts{
grid-column: 1;
margin-left: 22px;
margin-top: 25px;


}
.Messages{
    grid-column: 4;
    display: flex;
    flex-direction: column;
    justify-content: start;
grid-row: 2;
order: 1;
}
.Messages.CreateMessage{
    justify-self:center;
    margin-left: 50px;
    
}
.Messages.CreateMessage :first-child{
    margin-bottom: -6px;
}

